*{
  font-family: 'Cinzel', serif;
  color:rgb(5, 5, 78);
}
#child{
  background-color: rgb(227, 231, 231);
  box-shadow: 0 2px 5px rgb(110, 110, 110);
  padding:1%;
  margin:2%;
  display: flex;
  flex-direction: row;

}
#ans{
  padding:3%;
  color:rgb(85, 5, 5);
  background-color: rgb(250, 225, 225);
}
h3{
  text-align: center;
}
#icon{
  margin-right: 2%;
  background-color: white;
  display:flex;
  border-radius:2rem;
  padding:1%;
  cursor: pointer;
  justify-content: flex-start;
  box-shadow:0 2px 8px rgb(110, 110, 110);;
}
i{
  font-size:1.5rem;
margin-right: 2rem;
}
h1{
  word-spacing: 0.3rem;
  text-align: center;
}
#main{
  padding:2%;
  background-color: white;
  box-shadow: 1px 4px 12px;
  border-radius: 1rem;  
}
body{

  background-color: rgb(209, 209, 209);
  display: flex;
  justify-content: center;
  padding: 2% 24% 2% 24%;
}