*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  body{
      background-color: rgb(78, 78, 78);
  }
  #btn a{
    color:white;
    text-decoration: none;
  }
  #valid{
      margin-left: 6rem;
    text-align: left;
    color:#ffa00a;
    font-weight: 500;
  }
     .for-wrap{
        display:flex;
        flex-direction:row;
        justify-content: center;
        width:100%;
      }
      input:focus::placeholder{
        position:fixed;
        top:7px;
        left:4px;
        font-size:0.8rem;
      }
  

#get-started{ background-color: red;
  padding:1%;
  cursor: pointer;
  width:20%;
}
#btn{
    background-color: rgb(212, 1, 1);
    position:absolute;
    top:1rem;
    right:2rem;
    margin:1rem;
    padding: 0.7%;
    font-size: 1.2rem;
    color:white;
    border:none;
    border-radius: 9%;
    cursor:pointer;
}
#langauge-btn{
    background-color: black;
    color:white;
    padding:0.7%;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 6%;
    border:1px solid white;
    margin:1rem;
    position:absolute;
    top:1rem;
    right:9rem;
}
#back-image{
    background-image:linear-gradient(#0c0a0a8f, #1a1a1d85),url("./photos/back.jpg");
    height:45rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
#logo{
    height:6%;
    width:11%;
    position:absolute;
    top:1rem;
    left:1rem;
  }
  #first{
    font-size:3.125rem;
   }
   #second{
     font-size: 1.625rem;
   }
   #third{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .text{font-size:1rem;
    outline: none;
    padding:2%;
  }
  #center{
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
    color:white;
    line-height: 4rem;
    position:absolute;
    text-align:center;
    width:40%;
    top:12rem;
    left:25rem;
  }
